#network {
    min-width: 30px;
    padding: 0 5px;
}

#network.ethernet {
    font-size: 18px;
}

#network.disconnected,
#network.disabled {
    color: rgb(150, 150, 150);
}

#network:hover {
    background-color: transparent;
}
