* {
    border: none;
    border-radius: 0;
    font-size: 16px;
    font-weight: 600;
    min-height: 0;
}

@import "_window.css";
@import "_workspaces.css";
@import "_battery.css";
@import "_power-profiles-daemon.css";
@import "_language.css";
@import "_custom-power.css";
@import "_custom-nvidia.css";
@import "_network.css";
@import "_pulseaudio.css";
@import "_idle_inhibitor.css";
@import "_tray.css";


/* 
Global colors:

bg: rgb(36, 0, 0);
fg: #ffcdcd
healthy: #0b8a40
warning: #aa5b11
danger: #aa1b1b

*/
window#waybar {
    font-family: "CaskaydiaCove Nerd Font", sans-serif;
    background-color: rgb(36, 0, 0);
    color: #ffcdcd;
    transition-property: background-color;
    transition-duration: .5s;

}

tooltip {
    background: rgb(36, 0, 0);
    border: 1px solid rgb(36, 0, 0);
}

tooltip label {
    font-family: "CaskaydiaCove Nerd Font", sans-serif;
    color: #ffcdcd;
}

.module {
    margin: 0;
}

.module:hover {
    background-color: rgba(150, 150, 150, 0.3);
    transition-property: background-color;
    transition-duration: .5s;
}
